.shorts-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.shorts {
    transition: all 1s ease-in-out;
}

.short {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    position: relative;
    height: calc(100vh - 128px);
    width: calc(56.25vh - 72px);
    margin: 0 12px;
    margin-top: 24px;
    min-height: 560px;
    min-width: 315px;
    right: 0;
    background: #000;
    border-radius: 12px;
    overflow: hidden;
}

.short img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.short iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



@media (max-width: 700px) {

    sidenav,
    nav {
        display: none;
    }
    
}